body{
    margin: 0;
    padding: 0;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

header, footer{
    background-color: #1F2937;
}

.logo-links{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.links{
    margin-top: 10px;
}

.links ul{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.links ul li{
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.header-content{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.header-content h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
    width:300px;
}

.header-content p{
    font-size: 18px;
    color: #E5E7EB;
    width: 300px;
}

.header-content img{
    width: 300px;
}

.sign-up-button{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 12px;
}